<!-- Partners -->
{% if site.locale and site.locale != "" and site.locale != nil %}
  <section class="bg-light page-section" id="{{ site.data.sitetext[site.locale].partners.section | default: "partners" }}">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 text-center">
          <h2 class="section-heading text-uppercase">{{ site.data.sitetext[site.locale].partners.title | markdownify | default: "Partners" }}</h2>
          <h3 class="section-subheading text-muted">{{ site.data.sitetext[site.locale].partners.text | default: "partners"}}</h3>
        </div>
      </div>
      <div class="row">
        {%- for event in site.data.sitetext[site.locale].partners.events -%}
        <div class="col-md-6 col-lg-4 mb-4">
          <div class="partner-card">
            <div class="partner-card__header">
              <h4 class="partner-card__title">{{ event.title }}</h4>
              <div class="partner-card__logo">
                <img class="img-fluid" src="{{ event.image }}" alt="{{ event.title | default: ""}}">
              </div>
            </div>
            <div class="partner-card__body">
              <p class="partner-card__desc">{{ event.desc | markdownify }}</p>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </section>
{% else %}
<section class="bg-light page-section" id="{{ site.data.sitetext.partners.section | default: "partners" }}">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading text-uppercase">{{ site.data.sitetext.partners.title | markdownify | default: "Partners" }}</h2>
        <h3 class="section-subheading text-muted">{{ site.data.sitetext.partners.text | default: "partners"}}</h3>
      </div>
    </div>
    <div class="row">
      {%- for event in site.data.sitetext.partners.events -%}
      <div class="col-md-6 col-lg-4 mb-4">
        <div class="partner-card">
          <div class="partner-card__header">
            <h4 class="partner-card__title">{{ event.title }}</h4>
            <div class="partner-card__logo">
              <img class="img-fluid" src="{{ event.image }}" alt="{{ event.title | default: ""}}">
            </div>
          </div>
          <div class="partner-card__body">
            <p class="partner-card__desc">{{ event.desc | markdownify }}</p>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</section>
{% endif %}
<!-- End Partners -->
