<!DOCTYPE html>
<html lang="{{ site.active_lang | default: "tr" }}">

  {% include layout/head.html %}

  <body id="page-top">

      <main class="site-content">
        {{ content }}
      </main>

	  {% include layout/footer.html %}

	  <!-- Bootstrap core JavaScript -->
	  <script src="/assets/js/jquery.min.js" defer></script>
	  <script src="/assets/js/bootstrap.bundle.min.js" defer></script>

	  <!-- Set active nav link based on current URL -->
	  <script src="/assets/js/nav-active.js" defer></script>

  </body>
</html>
