// Styling for error pages (404, 500, etc.)
#pagecontainer {
  padding-top: 6.25rem;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  
  // Make sure row takes full height for vertical centering
  .row {
    min-height: calc(100vh - 6.25rem);
    flex: 1;
  }
  
  // Error page specific styling
  .error-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    
    // Responsive SVG/image container
    .error-image {
      width: 100%;
      max-width: 700px;
      height: auto;
      margin: 0 auto;
      
      img,
      svg {
        width: 100%;
        height: auto;
        display: block;
        max-width: 100%;
        object-fit: contain;
      }
    }
    
    // Responsive sizing
    @include media-max($breakpoint-md - 1px) {
      padding: 2rem 1rem;
      
      .error-image {
        max-width: 100%;
        padding: 0 1rem;
      }
    }
    
    @media (min-width: #{$breakpoint-md}) and (max-width: #{$breakpoint-lg - 1px}) {
      .error-image {
        max-width: 600px;
      }
    }
    
    @include media-min($breakpoint-lg) {
      .error-image {
        max-width: 700px;
      }
    }
  }
  
  @include media-min($breakpoint-lg) {
    padding-top: 9.375rem;
    min-height: 100vh;

    .row {
      min-height: calc(100vh - 9.375rem);
    }
  }
}

